@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'mine';
    src: url('../public/font/Minecraft.ttf');
}
@font-face {
    font-family: 'northwood';
    src: url('../public/font/Northwood.ttf');
}